.categoryName {
  font-size: 1.1rem;
  overflow-x: hidden;
  flex: 8;
}

.categoryAction {
  flex: 4;
  cursor: pointer;
  outline: none;
  border: none;
  background: inherit;
  margin-right: 0.5rem;
  color: #031a1b;
  font-size: 0.8rem;
  padding: 0.2rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.categoryAction:hover {
  color: red;
}

.categoryActionEdit:hover {
  color: white;
}

.categoryModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.category {
  padding: 2rem;
  background: #094b4d;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categoryTitle {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 1rem 0;
  color: #fff;
}

.categoryForm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoryInput {
  outline: none;
  border: none;
  background: transparent;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
  color: white;
  text-align: center;
  font-size: 1rem;
}

.categoryInputButton {
  background: #fff;
  color: #094b4d;
  cursor: pointer;
}

.categoryButtonClose {
  top: 1rem;
}

.categoryButton {
  outline: none;
  border: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  background: white;
  border-radius: 50%;
  color: #0f8486;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}